#videos {
    background-color: var(--bg-color);
    color: var(--text-color);

    >div {
        flex-direction: column;

    }

    .player {
        padding: 10px;
        margin-bottom: 20px;

        .video {
            position: relative;

            >video {
                width: 100%;
                background-color: rgb(97, 59, 59);
                background-image: url("../assets/imgs/imgs/rugby-video.jpg");
                background-size: cover;
                background-position: center;
                height: 320px;

              
            }

            .overlay {
                background-color: var(--black50-color);
                position: absolute;
                top: 0px;
                left: 0;
                bottom: -1px;
                right: -1px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                opacity: 1;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: var(--black40-color);
                }

                &:active img {
                    transform: translateY(1px);
                }
            }
        }

      
    }

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        >li  {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 10px;
            cursor: pointer;
            font-size: 14px;

            >div {
                flex: 1;
            }

            >figure {
                position: relative;
                margin: 0;
                display: flex;

                >figcaption {
                    position: absolute;
                    bottom: 2px;
                    left: 2px;
                    background-color: var(--bg-color);
                    font-size: 12px;
                    padding: 3px;
                }
            }

            &.active {
                background-color: var(--white10-color);
            }

            &:hover {
                background-color: var(--white20-color);
            }

            &:active {
                transform: translateY(1px);
            }

        }

        >li+li {
            border-top: var(--white10-color) 1px solid;
        }
    }


}

@media (min-width: 992px) and (max-width: 1940px) {

 .div-active{
    width: 90%;
   height: auto;
 }

  #videos > div {
    display: flex;
    gap: 60px;
    align-items: flex-start;
  }

  #videos .player {
    flex: 2;
  }

  #videos ul {
    flex: 1;
    max-width: 920px;
    margin: auto;
    margin-bottom: 5px;
   
  }

  #videos li{
    margin-bottom: 5px;
    height: 110px;
  }



  /* Seus itens dentro do container */
.video-row { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #222; /* Um fundo sutil para destacar do fundo geral */
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.video-row:hover {
    background-color: #333; /* Efeito visual ao passar o mouse */
}

.video-row img {
    width: 300px;  /* Controla o tamanho da thumbnail */
    height: auto;
    margin-right: 20px; /* Espaço entre imagem e título */
}
}

/*
@media (min-width: 992px) {
    #videos {
        >div {
            flex-direction: row;
            display: flex;
            padding: 80px 20px;

            .player {
                padding: 0;
                margin: 0;

                .video {
                    >video {
                        max-height: 500px;
                    }
                }

                >h3 {
                    font-size: 32px;
                }

                >p {
                    font-size: 16px;
                }
            }

            & ul {
                >li {
                    font-size: 16px;
                }
            }
        }
    }
}

*/